@import url('https://fonts.googleapis.com/css2?family=Anta&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
:root{
   --base-font-size: 16px;
  --background: #0c0c0d;
  --background-secondary: #222225;
  --foreground: #f2f2f0;
  --secondary: #1e1e21;
}
@theme inline {
    --color-background: var(--background);
    --color-background-secondary:var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}
body{
  @apply bg-background-secondary;
  font-family: "Space Mono", monospace;

}

html{
  font-size: var(--base-font-size);
}
